@media (max-width: 700px) {

  body{
    margin:0;
    padding:10px;
    overflow-x:hidden;
  }

  .game-board{
    width:95vw;
    margin:auto;

    display:grid;

    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(4,1fr);

    gap:8px;
  }

  .card{
    width:100%;
    aspect-ratio:1/1;
  }

  .card img{
    width:100%;
    height:100%;
    object-fit:cover;
  }

  #countdown{
    font-size:80px;
  }

  .logo,
  .victory-logo{
    width:140px;
  }

}
